@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Tahoma !important;
    background-image: linear-gradient(to right #fff, #ECECEC, #DEDEDE);
    font-size: 10pt !important;
}

h1:focus {
    outline: none;
}

.btn-success {
    color: #fff;
    background-color: rgb(61,164,43);
    border-color: rgb(0, 120, 83);
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

th {
    font-family: Tahoma !important;
    background-color: #00A23B !important;
    color: azure !important;
    border: 0.1px !important;
}
.rz-data-grid {

}



.fondo {
    display: flex;
    height: 100vh;
    background-image: url("../images/fondologin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.loginform {
    padding: 2%;
    background: rgba(228, 228, 228, 0.77) !important;
    box-shadow: 0 8px 32px 0 rgb(109, 109, 109, 0,86) !important;
    backdrop-filter: blur( 0.5px ) !important;
    -webkit-backdrop-filter: blur( 0.5px ) !important;
    border-radius: 10px !important;
}
/*Cargandoo*/
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
    margin: auto;
    position: relative;
}

    .spinner::before,
    .spinner::after {
        content: "";
        grid-area: 1/1;
        margin: 2.2px;
        border: inherit;
        border-radius: 50%;
    }

    .spinner::before {
        border-color: rgb(31, 162, 32) #0000;
        animation: inherit;
        animation-duration: 0.5s;
        animation-direction: reverse;
    }

    .spinner::after {
        margin: 8.9px;
    }

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}

/*RADZEN SCHEDULER es EL CALENDARIO*/
.rz-scheduler-nav-views button {
    background: #3CAD49 !important;
}

    .rz-scheduler-nav-views button span {
        color: white;
    }

.rz-event-content {
    background-image: linear-gradient(to right,#79B943,#3CAD49, #00A23B ) !important;
}

.rz-today {
    background-image: linear-gradient(to right,#79B943,#3CAD49 ) !important;
    color: white;
}

.rz-has-appointments {
    background-image: linear-gradient(to right,#3CAD49, #00A23B ) !important;
}

.rz-event-list-btn {
    visibility: hidden !important;
}

.rz-scheduler a.rz-event-list-btn {
    color: rgb(0, 120, 83) !important;
}

.rz-event-list-btn:before {
    content: "Mostrar todos." !important;
    color: rgb(0, 120, 83) !important;
    visibility: visible !important;
}
.rz-datatable-emptymessage {
    visibility: hidden !important;
}
    .rz-datatable-emptymessage:before {
        content: "No hay datos." !important;
        color: rgb(0, 0, 0) !important;
        visibility: visible !important;
    }

/*.rz-event-list {
    visibility: hidden !important;
}
    .rz-event-list:before {
        content: "No hay trabajos para esta fecha." !important;
    }*/
/* FIN RADZEN SCHEDULER es EL CALENDARIO*/
/*datagrid texto header radzen*/
.rz-column-title-content {
    color: white !important;
    font-family: Tahoma !important;
    font-weight: bold !important;
}
/*notificación radzen*/
.rz-notification-message.rz-growl {
    position: fixed !important;
    width: 35% !important;
    bottom: unset !important;
    right: 0px !important;
    top: 0px !important;
}
/*boton secondary radzen*/
.rz-button.rz-secondary.rz-shade-default, .rz-secondary.rz-shade-default.rz-paginator-element {
    background-color:#79B943 !important;
}
.rz-button.rz-secondary, .rz-secondary.rz-paginator-element {
    background-color: #79B943 !important;
    color: var(--rz-text-contrast-color) !important;
}

.rz-button.rz-primary.rz-shade-default, .rz-primary.rz-shade-default.rz-paginator-element {
    background-color: #00A23B !important;
}
.rz-button.rz-primary, .rz-primary.rz-paginator-element {
    background-color: #00A23B !important;
    color: var(--rz-text-contrast-color);
}
@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow324 {

    0%, 100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}
/*Fin de cargando*/
textarea {
    resize: none;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 80%;
}

.boxhome {
    /*background-image: linear-gradient(to right,rgba( 0, 162, 59, 0.6 ),rgba( 60, 173, 73, 0.6 ), rgba( 121, 185, 67, 0.6 ));*/
    background-color: rgba( 155, 155, 155, 0.25 );
    box-shadow: 0 8px 15px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content {
    padding-top: 1.1rem;
}

/*.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}*/

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
