@using Radzen.Blazor
@inherits LayoutComponentBase

<PageTitle>NeoAPTB</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Aplicación en desarrollo
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenContextMenu />
<RadzenNotification />
<RadzenDialog />
