@page "/asignarpuesto"


@inject PersonalInterface PersonalService
@inject APIInterface APIService


<h3>Asignar Puestos de Trabajo</h3>


    





<RadzenRow class="rz-text-align-center" Gap="1rem">
    <RadzenColumn class=" rz-p-2">
        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenDropDown @ref=@centroselect FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
             Data=@centros TextProperty="Cnom" ValueProperty="IdCentro" AllowClear="true" @bind-Value=valuecentro Style="width: 100%; max-width: 300px;" SearchTextChanged="@(args => searchTextChanged(args))" />
        </div>
    </RadzenColumn>

    <RadzenColumn class=" rz-p-2">

        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenDropDown @ref=@radzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data=@personal TextProperty="PeNombre" ValueProperty="PeFicha" AllowClear="true" @bind-Value=valuepersonal Style="width: 100%; max-width: 300px;" SearchTextChanged="@(args => searchTextChanged(args))" />
        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-2">
        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenDropDown @ref=@selectgrupo FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data=@grupos TextProperty="Grupo" ValueProperty="Grupo" AllowClear="true" @bind-Value=valuegrupo Style="width: 100%; max-width: 300px;" SearchTextChanged="@(args => searchTextChanged(args))" />
        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-2">
              <div class="rz-p-sm-12 rz-text-align-center">
                <RadzenButton Click=@(args => OnClick("Success icon button ")) Text="Consultar" Icon="check_circle" ButtonStyle="ButtonStyle.Success" />
            </div>
    </RadzenColumn>

</RadzenRow>

<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@DataCentros" TItem="Centro" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" OrOperatorText="O" AndOperatorText="Y" EqualsText="Igual a" IsLoading=@isLoading>
    <Columns>
        <RadzenDataGridColumn TItem="Centro" Property="IdCentro" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Centro" Property="Cnom" Title="Centro" Frozen="true" Width="160px" />
        <RadzenDataGridColumn TItem="Division" Property="Dnom" Title="Centro" Frozen="true" Width="160px" />
  
    </Columns>
</RadzenDataGrid>




@code {

    RadzenDropDown<string> radzenDropDown;
    RadzenDropDown<string> selectgrupo;
    RadzenDropDown<int> centroselect;

    List<Monto> montos;
    List<PuesTrab> puestos;
    List<TipIncen> tipincen;
    List<TipSuple> tipsuples;
    List<Personal> personal;
    List<Resuman> resumen;



    IEnumerable<Centro> DataCentros;
    List<Centro> centros;
    List<Grupos> grupos;
    string valuepersonal;
    string valuegrupo;
    int valuecentro;
    bool isLoading=false;
    // string searchTextStatus, searchcentro;

    protected override async Task OnInitializedAsync()
    {


        //await base.OnInitializedAsync();
        isLoading = true;

        string centro = "All1";
        personal = await PersonalService.GetPersonal("");
        centros= await APIService.GetCentrosxEmpresa(centro);

        DataCentros = centros;
        isLoading = false;

    }

        void searchTextChanged(string text)
        {
            
            //searchTextStatus = $"Valor buscado: {text}";

           // Console.WriteLine($"Search text: {radzenDropDown.SearchText}");

            StateHasChanged();
        }
    private void OnClick(string text)
    {
        
    }
}


