@page "/asignarpuesto"

@inject PersonalInterface PersonalService
@inject APIInterface APIService


<h3>Asignar Puestos de Trabajo</h3>


    





<RadzenRow class="rz-text-align-center" Gap="1rem">
    <RadzenColumn class=" rz-p-5">
        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenDropDown @ref=@centroselect FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
             Data=@centros TextProperty="Cnom" ValueProperty="IdCentro" AllowClear="true" @bind-Value=valuecentro Style="width: 100%; max-width: 300px;" SearchTextChanged="@(args => searchTextChanged(args))" />
        </div>
    </RadzenColumn>

    <RadzenColumn class=" rz-p-5">

        <div class="rz-p-sm-12 rz-text-align-center">
            <RadzenDropDown @ref=@radzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data=@personal TextProperty="PeNombre" ValueProperty="PeFicha" AllowClear="true" @bind-Value=valuepersonal Style="width: 100%; max-width: 300px;" SearchTextChanged="@(args => searchTextChanged(args))" />
        </div>
    </RadzenColumn>
    <RadzenColumn class="rz-p-5">
        Column 3 of 4
    </RadzenColumn>

</RadzenRow>





@code {

    RadzenDropDown<string> radzenDropDown;
    RadzenDropDown<int> centroselect;
    List<Personal> personal;
    List<Centro> centros;
    string valuepersonal;
    int valuecentro;
   // string searchTextStatus, searchcentro;

    protected override async Task OnInitializedAsync()
    {
       

        await base.OnInitializedAsync();
        string centro = "All1";
        personal = await PersonalService.GetPersonal("");
        centros= await APIService.GetCentrosxEmpresa(centro);

    }

        void searchTextChanged(string text)
        {
            
            //searchTextStatus = $"Valor buscado: {text}";

           // Console.WriteLine($"Search text: {radzenDropDown.SearchText}");

            StateHasChanged();
        }
    }


