@page "/escalon"
@*@inject HttpClient Http*@

<h3>Registro de Escalones</h3>

@code {


    public string centro { get; set; } = "Conversión";
    List<Centro> ListaCentros = new List<Centro>();

    //protected override async Task OnInitializedAsync()
    //{

    //    //var result = await Http.GetFromJsonAsync<List<Centro>>($"http:neo.paveca.com.ve/ReunionApi/Empresas/Centros/{"All1"}");
    //    //ListaCentros = result;

    //}
}