@page "/Suplencias"

@using NeoAPT.ModelsAPT


<h2>Suplencias</h2>

<MudGrid>
    <MudItem xs="4">
        <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="4">

        <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>
    </MudItem>
    <MudItem xs="4">
        <MudTextField @bind-Value="TextValue" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
    </MudItem>
</MudGrid>



<MudCard>
	<MudForm Model="@SupleModel"  >
		<MudCardContent>
				<MudTextField @bind-Value="SupleModel.Tscodigo"                              
							 />

				<MudTextField @bind-Value="SupleModel.Tscodigo"
							 />

				<MudTextField @bind-Value="SupleModel.Tsestado"
							 *@ />

				
    </MudCardContent>
	</MudForm>
    <MudCardActions>
@*        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Order</MudButton>
*@    </MudCardActions>
</MudCard>
@code {
    public string TextValue { get; set; }

	
	   TipSuple SupleModel = new TipSuple();
}