@page "/Suplencias"
@using System.ComponentModel.DataAnnotations

<h3>Suplencias</h3>

<MudGrid>
    <MudItem xs="4">
        <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
    </MudItem>
    <MudItem xs="4">

        <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>
    </MudItem>
    <MudItem xs="4">
        <MudTextField @bind-Value="TextValue" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
    </MudItem>
</MudGrid>
@code {
    public string TextValue { get; set; }
}